<div class="container justify-content-center mt-5">
  <div class="row justify-content-center">
    <h3 class="font-weight-bold">本当に退会しますか?</h3>
  </div>
  <br>
  
  <div class="row justify-content-center text-center">
    <h5 class="font-weight-bold ">
      退会すると、会員登録情報や<br>
      これまでの購入履歴が閲覧できなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。<br>
    </h5>
  </div>
  <br>
  
  <div class="row justify-content-center">
    <div class="mr-2"><%= link_to "退会しない", customers_mypage_path, class: "btn btn-primary" %></div>
    <div class="ml-2"><%= link_to "退会する", customers_withdrawal_path, method: :patch, class: "btn btn-danger"  %></div>
  </div>
</div>

