<div class="container my-3">
  <h4 class="col-2 text-center bg-secondary">注文履歴一覧</h4>
  
  <div class="row justify-content-center mt-4">
  <table class="col-10 table table-striped">
    <thead>
      <tr>
        <td>購入日時</td>
        <td>購入者</td>
        <td>注文個数</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  </div>
  
</div>
